@using Final.Entities;
@using Final.PL.Models;
@using System.Text.RegularExpressions;
@{
    Page.Title = "Thread";
    Layout = "~/Layouts/_MainLayout.cshtml";

    ForumThread thread = null;

    string idString = UrlData[0];
    int id = -1;
    User author = null;

    if (!IsPost && !IsAjax && Request["id"] != idString &&
        int.TryParse(idString, out id))
    {
        thread = AppData.ForumThreadLogic.GetById(id);
        author = AppData.UserLogic.
            GetById(thread.AuthorId.GetValueOrDefault(-1));
        Page.Title = "Thread :: " + thread.Title;


    }
    else
    {
        Response.Redirect("~/");
        return;
    }
}

@if (User.Identity.Name == author?.Username || User.IsInRole("Admin"))
{
    <form action="~/Pages/DeleteThread" method="post" class="form-group">
        <button type="button" class="btn btn-light" data-toggle="collapse" data-target="#edit-thread-form"
                aria-expanded="false" aria-controls="edit-thread-form">Edit thread</button>
        <input type="hidden" name="id" value="@thread.Id" />
        <input type="submit" value="Delete thread" class="btn btn-primary" />
    </form>

    <form action="~/Pages/EditThread" method="post" class="collapse" id="edit-thread-form">
        <input type="hidden" name="id" value="@thread.Id" />
        <div class="form-group">
            <input type="text" required class="form-control form-control-lg"
                   name="title" placeholder="Title" value="@thread.Title" />
        </div>
        <div class="form-group">
            <textarea required class="form-control" name="message" placeholder="Text">@thread.Message</textarea>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" name="action" value="Edit" />
        </div>
    </form>
}

<div class="thread-main">
    <h3>
        @thread.Title
    </h3>
    <div>
        @thread.Message
    </div>
</div>

@if (User.Identity.IsAuthenticated)
{
    <p>
        <button type="button" name="message" class="btn btn-primary" data-toggle="collapse" data-target="#new-reply-form"
                aria-expanded="false" aria-controls="new-reply-form">
            New reply
        </button>
    </p>

    <form action="~/Pages/NewReply" method="post" class="collapse" id="new-reply-form">
        <input type="hidden" name="threadId" value="@id" />
        <div class="form-group">
            <textarea name="message" required placeholder="Your reply here" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Send" />
        </div>
    </form>
}

<div class="post-group">
    @foreach (var post in AppData.ThreadPostLogic.GetAllFor(thread.Id))
    {
        <div class="post">
            @{
                string authorName = AppData.GetContentAuthorName(post.AuthorId);
            }
            <strong>@authorName</strong> said:<br />
            @post.Message
        </div>
    }
</div>